/*样式表文件out.css*/
* {
    /*全局选择器*/
    margin: 0px auto;/*外边距*/
    padding: 0px;/*内边距*/
}


body {
    /*主体*/
    color: rgb(42, 61, 79);
    font-family:'Times New Roman', Times, serif;/*字体样式*/
    background-image: url(../img/背景4.jpg) ;/*背景图片*/
}
.header {
    /*头部*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}
#hi1 {
    /*头部图片*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}

.dh ul {
    /*导航栏*/
   height:50px;/*高度*/
   background-color:#b39858;
   width: auto;
   padding: 0px;/*内边距*/
   margin-bottom: 30px;/*外边距*/
}
.dh ul li {/*导航栏行的设置*/
    height: 50px;
    width: 25%;
    list-style: none;/*列表样式*/
    float: left;/*左浮动*/
    display: inline;
    font: 0.9em;
}

.dh ul li a {/*导航栏链接设置*/
    text-align: center;/*文本位置*/
    color: white;
    font-size: larger;/*字体大小*/
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    text-decoration: none;/*列表样式*/
    display: block;
    background-color: rgb(87, 215, 241);
    line-height: 50px;
    border-bottom: 0px solid rgb(168, 164, 172);
}

.dh ul li a:hover {    /*鼠标划过导航栏时*/
    background: linear-gradient(to right, rgb(201, 247, 241), rgb(145 168 208));  /* 设置背景颜色 */
	color: rgb(112, 162, 216); /* 设置字体颜色 */
	transform: scale(1.1); /* 设置缩放效果 */
    
}
.footer {
    /*尾部*/
    margin-top: 1%;
    clear: both;/*清楚浮动*/
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, rgb(201, 247, 241), rgb(145 168 208)); 
    color:black;
    font:20px 'Times New Roman', Times, serif;/*文字样式*/
    text-align: center;
}

.footer p{
    margin-top: 20px;
    padding: 25px;
}
div#container-1{
     height:300px; 
 }
 
 div#container-1 div#cont-1-1{
    background: linear-gradient(to right, rgb(201, 247, 210), rgb(184, 206, 244));
     width: 400px;
     height: 300px;
     float: left;/*浮动*/
     margin-left: 400px;
     line-height: 60px; 
	font-size: 20px; /* 设置字体大小 */
	color: #000; /* 设置字体颜色 */
	font-family: serif;/* 应用字体 */
    text-align: center; /* 设置文本居中 */
 }
 
 div#container-1 div#cont-1-2{
     width: 400px;
     height: 300px;
     float: left;
    background-image: url(../img/头像\ .jpg) ;/*背景图片*/
 }
 div#container-2{
    height:700px; 
}
div#container-2 div#cont-2-1{
    width: 300px;
    height: 700px;
    float: left;
    background: linear-gradient(to top, rgb(247 202 201), rgb(184, 206, 244));
    margin-top: 100px;
    margin-left: 150px;
    overflow: hidden;
    line-height: 50px; 
    padding: 10px;
    font-size: 20px; /* 设置字体大小 */
	color: #000; /* 设置字体颜色 */
	font-family: 楷体;/* 应用字体 */
    text-align: center; /* 设置文本居中 */
}
div#container-2 #cont-2-1 img{/*蛋糕图片*/
    height: 200px;
    width: 250px;
    float: left;
    margin: 10px 40px 0px 20px;
}
div#container-2 div#cont-2-2{
    width: 300px;
    height: 700px;
    float: left;
    background: linear-gradient(to top, rgb(247 202 201), rgb(184, 206, 244));
    margin-top: 100px;
    margin-left: 150px;
    line-height: 50px; 
    padding: 10px;
    font-size: 20px; /* 设置字体大小 */
	color: #000; /* 设置字体颜色 */
	font-family: 楷体;/* 应用字体 */
    text-align: center; /* 设置文本居中 */
}
#cont-2-2 img{/*简介图片*/
    height: 200px;
    width: 250px;
    float: left;
    margin: 10px 40px 0px 20px;
}
div#cont-2-3{
    width: 300px;
    height: 700px;
    float: left;
    background: linear-gradient(to top,  rgb(247 202 201), rgb(184, 206, 244));
    margin-top: 100px;
    margin-left: 150px;
    line-height: 50px; 
    padding: 10px;
    font-size: 20px; /* 设置字体大小 */
	color: #000; /* 设置字体颜色 */
	font-family: 楷体;/* 应用字体 */
    text-align: center; /* 设置文本居中 */
}
#cont-2-3 img{/*简介3图片*/
    height: 200px;
    width: 250px;
    float: left;
    margin: 10px 40px 0px 20px;
}
a:link {color:blue;}
a:visited {color:red;}
a:hover {color:yellow;}