/*样式表文件out.css*/
* {
    /*全局选择器*/
    margin: 0px;/*外边距*/
    padding: 0px;/*内边距*/
}


body {
    /*主体*/
    color: rgb(42, 61, 79);
    font-family:'Times New Roman', Times, serif;/*字体样式*/
    background-image: url(../img/背景4.jpg) ;/*背景图片*/
}
.header {
    /*头部*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}
#hi1 {
    /*头部图片*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}

.dh ul {
    /*导航栏*/
   height:50px;/*高度*/
   background-color:#b39858;
   width: auto;
   padding: 0px;/*内边距*/
   margin-bottom: 30px;/*外边距*/
}
.dh ul li {/*导航栏行的设置*/
    height: 50px;
    width: 25%;
    list-style: none;/*列表样式*/
    float: left;/*左浮动*/
    display: inline;
    font: 0.9em;
}

.dh ul li a {/*导航栏链接设置*/
    text-align: center;/*文本位置*/
    color: white;
    font-size: larger;/*字体大小*/
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    text-decoration: none;/*列表样式*/
    display: block;
    background-color: rgb(87, 215, 241);
    line-height: 50px;
    border-bottom: 0px solid rgb(168, 164, 172);
}

.dh ul li a:hover {    /*鼠标划过导航栏时*/
    background: linear-gradient(to right, rgb(201, 247, 241), rgb(145 168 208));  /* 设置背景颜色 */
	color: rgb(112, 162, 216); /* 设置字体颜色 */
	transform: scale(1.1); /* 设置缩放效果 */
    
}
.footer {
    /*尾部*/
    margin-top: 1%;
    clear: both;/*清楚浮动*/
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, rgb(201, 247, 241), rgb(145 168 208)); 
    color:black;
    font:20px 'Times New Roman', Times, serif;/*文字样式*/
    text-align: center;
}

.footer p{
    margin-top: 20px;
    padding: 25px;
}

.zhuti{/*主体设置*/

    margin: 0px 100px 0px 100px;
}
.zhuti h4{/*主体标题设置*/
    text-align: center;
    /*文本居中*/
   font-size: larger;
}
#wudaobisai {
    /*操舞比赛*/
    clear: both;
    /*浮动清除*/
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-color: rgb(75, 99, 153);
    border-style: dashed;
    /*虚线 */
    border-radius: 10px;
}

#wudaobisai img {
    /*比赛图片*/
    border-radius: 5%;
    /*边框弧度*/
    width: 150px;
    height: 150px;
    float: left;
    /*左浮动*/
    margin: 5px 10px 0px 5px;
}

#shiming img:hover {
    /*图片划过时*/
    transform: scale(1.2);
    /*图片放大*/
}

#wudaobisai p {
    /*比赛文本设置*/
    letter-spacing: 2px;
    /*字体间隔*/
    text-indent: 2em;
    /*缩进*/
    line-height: 1.5em;
}

#zhixiegongzuo{
    /*志协工作*/
    clear: both;
    /*浮动清除*/
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-color: rgb(75, 99, 153);
    border-style: dashed;
    /*虚线 */
    border-radius: 10px;
}

#zhixiegongzuo img {
    /*志协工作图片*/
    border-radius: 5%;
    /*边框弧度*/
    width: 150px;
    height: 150px;
    float: left;
    /*左浮动*/
    margin: 5px 10px 0px 5px;
}

#shiming img:hover {
    /*图片划过时*/
    transform: scale(1.2);
    /*图片放大*/
}

#zhixiegongzuo p {
    /*志协工作文本设置*/
    letter-spacing: 2px;
    /*字体间隔*/
    text-indent: 2em;
    /*缩进*/
    line-height: 1.5em;
}

#duocaishenghuo {
    /*多彩生活*/
    clear: both;
    /*浮动清除*/
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-color: rgb(75, 99, 153);
    border-style: dashed;
    /*虚线 */
    border-radius: 10px;
}

#duocaishenghuo img {
    /*多彩生活图片*/
    border-radius: 5%;
    /*边框弧度*/
    width: 150px;
    height: 150px;
    float: left;
    /*左浮动*/
    margin: 5px 10px 0px 5px;
}

#shiming img:hover {
    /*图片划过时*/
    transform: scale(1.2);
    /*图片放大*/
}

#duocaishenghuo p {
    /*多彩生活文本设置*/
    letter-spacing: 2px;
    /*字体间隔*/
    text-indent: 2em;
    /*缩进*/
    line-height: 1.5em;
}

#ship {
    /*视频设置*/
    text-align: center;
    margin-top: 50px;
}